@page
@model IndexModel
@{ ViewData["Title"] = "Home page"; }

<div class="text-center">
    <h1 class="display-4">Witamy na stronie obsługującej stacje pogody.</h1>
    <p>Dane zaczerpnięte są ze  <a href="https://openweathermap.org/api">strony</a>.</p>
    <img src="Images2/pogoda2.jpg" alt="Sample Photo" />
</div>


